body {
    background-color: rgb(150, 165, 208);
}

.navbar {
    display: flex;
    justify-content: space-around;
    padding: 5px;
    background-color: black;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 5px;
}

.navbar a:hover {
    color: orange;
}

h1 {
    text-align: left;
    color: white;
}

h2 {
    font-weight: bolder;
    text-align: center;
}

.About_us {
    text-align: center;
    background-color: #222f3d;
    color: white;
    font-weight: bold;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}

.icons {
    text-align: center;
    background-color: #222f3d;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}

.icons h2 {
    color: white;
}

.icons i {
    font-size: 90px;
    margin: 0 15px;
    color: white;
}

.icons i:hover {
    color: #FFA500;
}

.portfolio {
    color: white;
    text-align: center;
    background-color: #222f3d;
    padding: 50px;
    border-radius: 10px;
    margin: 20px;
}

.social {
    text-align: center;
    background-color: #222f3d;
    padding: 20px;
    border-radius: 10px;
    margin: 25px;
}

.social-icons {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.fa-brands {
    font-size: 90px;
    margin: 0 15px;
    color: white;
}

.social i:hover {
    color: #FFA500;
}


button {
    color: white;
    background-color: rgb(43, 41, 41);

}

.contact-form {
    color: rgb(1, 1, 1);
    max-width: 400px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: white;
    color: rgb(13, 12, 12);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}